/* ----- start comment

use * {} for site-wide rules
to override the default root of the document

selector {property: value;}

----- */

/* LAYOUT */
* {
    scroll-behavior: smooth;
    margin: 0;
}

header {
    background-image: url(../images/path-dashed-pattern2-opacity50.png);
    background-size: 100%;
    background-position: center;
    width: 100%;
}

.header-area h2 {
    text-transform: uppercase;
    padding-right: 7%;
    padding-left: 10%
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-left img {
    height: 150px;
}

.character-right img {
    height: 150px;
}



@media (max-width: 800px) {
    header h1 {
        padding-bottom: 7%;
    
    }
    header h2 {
        padding-bottom: 10%;
    }
}

@media (min-width: 801px) {
    header h1 {
        padding: 10%;
    
    }
    header h2 {
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 10%;
    }
}





/* to make an adjustable/responsive skyline img: https://www.w3schools.com/css/css_rwd_images.asp*/
.skyline {
    width: 100vw;
    background-image: url(../images/skyline-blue.png);
    background-size: cover;
    background-position: center;
}
/* defining skyline height for tablets and smaller */
@media (max-width:800px) {
    .skyline {height: 6rem;} } 
    
/* defining skyline height for larger than tablets */
@media (min-width:801px) {
    .skyline {height: 12rem;} }



    /* https://www.w3schools.com/css/css3_flexbox.asp */
.nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    /* https://www.w3schools.com/css/css3_flexbox_container.asp */
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid #ffd86c; */
    /* border-bottom: 1px solid #ffd86c; */
    background-color: #ffebb3;
}

    
.nav-container > .nav {
    position: relative;
}

/*  https://www.w3schools.com/css/css_pseudo_classes.asp*/
@media (max-width: 800px) {
    a.nav:link {
        padding-top: 1rem; 
        padding-bottom: 1rem;
        padding-left: 0.4rem; 
        padding-right: 0.4rem;
    } 
}

@media (min-width: 801px) {
    a.nav:link {
        padding: 1.5rem; } 
    }

/*  using links: https://www.w3schools.com/css/css_link.asp */
a.nav:link, a.nav:visited {
    color: #1d528c;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/*  for transition duration: https://www.w3schools.com/css/css3_transitions.asp 
    for text-shadow: https://www.w3schools.com/css/css_text_shadow.asp */
a.nav:hover, a.nav:active {
    transition-duration: 0.5s;
    color: #fff; 
    text-shadow: 0 0 3px #1d528c;   
}





/* https://geary.co/internal-borders-css-grid/ */

/* defining grid columns: for tablets, phones */
@media (max-width: 800px) {
    .locations-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* defining grid columns: larger than tablets */
@media (min-width: 801px) {
    .locations-grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

.locations-grid {

    --gap: 3rem;
    --line-thickness: 1px;
    --line-color: #ffd86c;
    --line-offset: calc(var(--gap) / 2);

    display: grid;
    gap: var(--gap);
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    border-right: #ffd86c;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.locations-grid > section {
    background-color: #fff;
    position: relative;
    padding: 0.5em;
}

.locations-grid > section img {
    display: block;
    margin: auto;
    width: 50px;
    padding: 1px;
}

.locations-grid > section h4 {
    color: black;
}

    /* https://geary.co/internal-borders-css-grid/ */
    /* Pseudo Elements */

    .locations-grid > section::after,
    .locations-grid > section::before {
        content: "";
        background-color: var(--line-color);
        position: absolute;
    } 

    /* Row lines */
    .locations-grid > section::after {
        inline-size: 100vw;
        block-size: var(--line-thickness);
        inset-block-start: calc(var(--line-offset) * -1);
        inset-inline-start: 0;
    }

    /* Column lines */
    .locations-grid > section::before {
        inline-size: var(--line-thickness);
        block-size: 100vh;
        inset-block-start: 0;
        inset-inline-start: calc(var(--line-offset) * -1);
    }  


/* Map padding in the Main section*/
.main-map {
    padding: 5%
}

/* Map container */
.map {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: white;
    border: 2px dashed #ffd86c;
}


/* to adjust filter of map tiles: https://stackoverflow.com/questions/53528313/apply-css3-filters-to-the-image-tiles-on-leaflet */
.leaflet-layer {
    filter: contrast(1.3);
  }

/* popup customizations: https://www.youtube.com/watch?v=INNVFfrbalU
    + https://stackoverflow.com/questions/12606141/how-would-i-customise-the-look-and-feel-of-the-leaflet-popup */
.custom-popup .leaflet-popup-content-wrapper {
    border-radius: 10px;
    box-shadow: 0 4px 10px #1d528c;
}

.custom-popup .leaflet-popup-content {
    margin: 6px;
    text-align: center;
    font-family: "Lato Regular";
}

.custom-popup .leaflet-popup-content h4 {
    font-family: "Lato Bold";
    color: #6e0000;
}

.custom-popup .leaflet-popup-content img {
    display: block;
    margin: auto;
    width: 30px;
}

.custom-popup .leaflet-popup-close-button {
    display: none;
}



footer {
    text-align: center;
    height: 10rem;
    background-color: #6e0000;
    padding-top: 10%;
    padding-bottom: 0%;
}

footer > p {
    color: #e49999;
}








/* TYPOGRAPHY */


/* source: https://fonts.google.com/specimen/Unkempt?query=unkempt */
@font-face {
    font-family: 'Unkempt Bold';
    src: url('fonts/unkempt-bold-webfont.woff') format('woff'),
         url('fonts/unkempt-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* source: https://www.fontsquirrel.com/fonts/syne */
@font-face {
    font-family: 'Syne Bold';
    src: url('fonts/syne-bold-webfont.woff') format('woff'),
         url('fonts/syne-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Syne Regular';
    src: url('fonts/syne-regular-webfont.woff') format('woff'),
         url('fonts/syne-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* source: https://fonts.google.com/specimen/Lato */
@font-face {
    font-family: 'Lato Bold';
    src: url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Font template
@font-face {
    font-family: ' ';
    src: url(' ') format('woff'),
         url(' ') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*/


/* defining text 800px or less (phones, tablets) */
@media (max-width: 800px) {
    h1 {
        font-size: 3rem;
        line-height: 1;
        padding: 15%;
    }

    h2 {
        font-size: 1.2rem;
        line-height: 1.5rem; 
        padding-bottom: 20%;
    }

    h3, h4 {
        font-size: 0.9rem;
    }

}

/* defining text more than 800px (larger than tablet) */
@media (min-width: 801px) {
    h1 {
        font-size: 6rem; 
        line-height: 6rem;
        padding-top: 10%;
        padding-bottom: 7%;
        padding-left: 10%;
        padding-right: 10%;
    }

    h2 {
        font-size: 2rem;
        line-height: 2rem;
        padding-bottom: 7%;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.9rem;
    }

}


h1 {
    font-family: "Unkempt Bold";
    text-align: center;
    color: #6e0000;
}

h2 {
    font-family: "Syne Bold";
    text-align: center;
    color: #1d528c;
}

h3, h4 {
    font-family: "Syne Bold";
    text-align: center;
    color: #1d528c;
}
    
p {
    font-family: "Lato Regular";
    color:black;
    font-size: 0.9rem;
}

